ad{display:block;}
label{font-size:16pt;font-weight:bold;color:blue;}
usn{font-size:14pt;color:red;}
name{font-size:16pt;color:green;}
college{font-size:16pt;color:green;}
branch{font-size:16pt;color:green;}
year{font-size:16pt;color:green;}
email{font-size:16pt;color:green;}
Student_Info{position:absolute; margin-left:450px; margin-top:50px}
h1{font-size:28px;color: pink; font-style:italic}